<h3>Upload Document</h3>

<%= form_for @hoa do |f| %>

  <% if @hoa.errors.present? %>
    <div class="errors">
      <h3>There was an error</h3>
      <ul class="error-list">
        <% @hoa.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :location, autofocus: true, placeholder: "Location" %>
  </div>

  <div>
    <%= f.text_field :document, autofocus: true, placeholder: "Document" %>
  </div>

  <div>
    <%= f.submit class: "form-button" %>
  </div>

<% end %>